<table class="table">
	<thead>
		<tr>
			<td>Id</td>
			<td>Username</td>
			<td>Password</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= link_to user.username, user %></td>
			<td><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></td>

%></td>
		</tr>
		<% end %>
</tbody>
</table>

